<%= form_for(@artical) do |f| %>
  <% if @artical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artical.errors.count, "error") %> prohibited this artical from being saved:</h2>

      <ul>
      <% @artical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group container-fluid">
    <div class="row field-row">
      <div class="col-md-2 title"><%= f.label :title %></div>
      <div class="col-md-5"><%= f.text_field :title, class: 'form-control' %></div>
    </div>
    <div class="row field-row">
      <div class="col-md-2 title"><%= f.label :url %></div>
      <div class="col-md-5"><%= f.text_field :url, class: 'form-control', readonly: true %></div>
    </div>
    <div class="row field-row">
      <div class="col-md-2 title"><%= f.label :content %></div>
      <div class="col-md-5"><%= f.text_area :content, class: 'form-control', rows: 30, cols: 200 %></div>
    </div>
    <div class="row field-row">
      <div class="col-md-7 center"><%= f.submit "提交", class: "btn btn-primary" %></div>
    </div>
  </div>

<% end %>
