<h3><%= @artical.title %></h3>
<p>
  <%= link_to '文章列表', articals_path %>
  <%= link_to '编辑', edit_artical_path(@artical) %>
</p>

<p>
  <strong>Url:</strong>
  <%= @artical.url %>
</p>

<p>
  <strong>采集配置:</strong>
  <%= @artical.reader_config_name %>
</p>

<p>
  <strong>内容:</strong>
  <pre><%= @artical.content %></pre>
</p>

<p>
  <strong>图片:</strong>
  <% @artical.images.split(',').each do |img_path| %>
    <p><img src="/<%= img_path %>"></p>
  <% end %>
</p>
